
<%if trainer_signed_in?%>
	<h3>Welcome to ToDo, <%=current_trainer.name%>!</h3>
<%else%>
	<h3>Welcome to ToDo!</h3>
<%end%>
<br>
<p><%= link_to 'Your Projects:', trainers_path %> <%= Trainer.count %> Unfinished projects! Get to work!</p>