
<%if trainer_signed_in?%>
	<h3>Welcome, <%=current_trainer.name%> to ToDo!</h3>
<%else%>
	<h3>Welcome to ToDo!</h3>
<%end%>
<br>
<p><%= link_to 'Your Projects:', trainers_path %> <%= Trainer.count - 1%> Unfinished projects! Get to work!</p>