<h3><%= @trainer.name if @trainer.name %></h3>
<%= button_to "Create a Task!", new_path, :class => "button small", :method => :get %>
<p>Tasks:</p>
  <% @trainer.pokemons.each do |pokemon| %>
  	<ol>
    <li><%= pokemon.name %></li>
    		<ul> 
    		<%= button_to "Done!", damage_path(id: pokemon), :class => "button small", :method => :patch %> 
    		</ul>
    </ol>
  <% end %>